.gray-triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--slidev-theme-gray);
    position: absolute;
    right: 0;
    top: -2%;
    transform: scaleX(30) scaleY(-70);
}

.red-triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--slidev-theme-primary);
    position: absolute;
    right: 0;
    bottom: -2%;
    transform: scaleX(30) scaleY(70);
}
